@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
}

header {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("../img/header.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	display: inline-block;
	padding: 0 0 200px 0;
}

button {
	background: none;
	color: #404040;
	width: 240px;
	height: 50px;
	border: 2px solid #404040;
	font-size: 20px;
	border-radius: 35px;
	transition: .6px;
	overflow: hidden;
	margin-top: 20px;
	font-size: 20px;
}

button:hover {
	transition: 1s;
	width: 180px;
	font-size: 18px;
}

p {
	text-align: center;
}

h2,h3 {
	padding: 20px 0 0 0;
}

footer p {
	color: #212121;
	font-size: 15px;
	padding: 0 0 0 0;
}


/* ---------------- Image  ---------------- */
img.logo-services, img.logo-contacts {
	width: 3.5%;
	height: 3.5%;
	padding: 20px 5px 70px 5px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

img.profile-picture {
	width: 10%;
	height: 10%;
	border-radius: 100px;
	border: 3px solid #BDBDBD;
	margin: 20px 0 20px 0;
}
img.icon-skills {
	width: 25%;
	height: 25%;
}
img.logo_intro {
	width: 15%;
	height: 15%;
	padding: 20px 20px 20px 20px;
}
img.img-projects {
	width: 100%;
	height: 100%;
}
img.img-projects:hover {
	transition: .5s;
	
}
img.img-projects p:hover {
	transition: 1s;
	text-align: center;
	color: black;
}
/* ---------------- Image  ---------------- */


/* ----- Button ----- */

/* ----- Button ----- */


/* ----- Lightbox ----- */
	* {
		/*box-sizing: border-box;*/
	}
	
	.row > .column {
		padding: 100 8px;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.column {
		float: left;
		width: 100%;
	}

	/* The Modal (background) */
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 15px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: black;
	}

	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 50%;
		max-width: 1200px;
	}

	/* The Close Button */
	.close {
		color: white;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	}

	.mySlides {
		display: none;
	}

	.cursor {
		cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	img {
		margin-bottom: -4px;
	}

	.caption-container {
		text-align: center;
		background-color: black;
		padding: 2px 16px;
		color: white;
	}

	.demo {
		opacity: 0.6;
	}

	.active,
	.demo:hover {
		opacity: 1;
	}

	img.hover-shadow {
		transition: 0.3s;
	}

	.hover-shadow:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
/* ----- Lightbox ----- */
















/* ---------------- p tags ------------------- */
p.tagline {
	font-size: 20px;
	font-weight: lighter;
}
p.tag {
	padding-top: 100px;
}
/* ---------------- p tags ------------------- */




/* ---------------- Header titles ---------------- */
.wrapper h1 {
	font-size: 50px;
	color: white;
	text-align: center;
	padding: 200px 0 0 0;
}
.wrapper div {
	background-color: rgba(0 , 0, 0, 0.5);
}



/* ---------------- Header titles ---------------- */




/* ---------------- Containers ---------------- */
.container-skills {
	color: #212121;
	text-align: center;
	background-color: rgb(255, 255, 255);
}
.container-button {
	color: #212121;
	text-align: center;
	background-color: #ECEFF1;
}
.container-skills h2 {
	font-size: 30px;
	padding: 35px 0 20px 0;
}
.container-education p , .container-education h2, .container-education h4 {
	color: #212121;
	text-align: center;
}
.container-education h4 {
	padding: 20px 0 0 0;
}
.container-education h2 {
	padding: 100px 0 0 0;
}
.container-education p {
	padding: 0 0 100px 0;
}


.container-projects {
	background-color: #2b2a2a;
	margin: 0 0 100px 0;
}
.container-projects p {
	color: #EEEEEE;
}


.container-projects h2 {
	text-align: center;
	padding-top: 50px;
	color: white;
}

.button-container {
	padding: 10px 0 0 0;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}

.container, .container h2 {
	color: #263238;
	text-align: center;
	background-color: #FAFAFA;
}
.container h2 {
	font-size: 30px;
	padding: 40px 0 0 0;
}
.container p {
	text-align: justify;
	margin: 20px 120px 20px 120px;
}

.container-footer h2 {
	font-size: 20px;
	text-align: center;
}
.container-footer {
	color: #263238;
	text-align: center;
	padding-top: 100px;
}
.container-footer h4 {
	padding: 20px 0 0 0;
}


.image-overlay img {
	width: 20%;
	height: 20%;
}


.column:hover .overlay {
	opacity: 2;
}
.overlay {
	position: center;
	font-weight: bold;
	height: 100%;
	width: 100%;
	transform: translateY(-125%);
	opacity: 0;
	transition: .5s ease;
}
.text {
	color: #FAFAFA;
	font-size: 50px;
	position: center;
	text-align: center;
}

/* ---------------- Containers ---------------- */





/*------------ Animations -------------*/
.animate {
	transform: 2s ease-in-out;
	-moz-transform: 2s ease-in-out;
	-webkit-transform: 2s ease-in-out;
}

	

/*------------ Animations -------------*/






/* ---------------- Row and Column ---------------- */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	margin-top: 30px;
	padding: 1.5%;
	text-align: center;
	float: right;
	width: 30.1%;
}
.column h2 {
	font-size: 25px;
}
.column p {
	margin: 0 20px 55px 20px;
}

/* ---------------- Row and Column ---------------- */







/* ---------------- Mobile Screen Size ---------------- */
@media screen and (max-width:900px) {

	button {
		width: 180px;
		font-size: 15px;
	}
	button:hover {
		width: 190px;
		font-size: 19px;
	}
	header {
		height: 100%;
		width: 100%;
		padding: 20px 0 320px 0;
		background-attachment: fixed;
	}

	.wrapper h1 {
		font-size: 20px;
	}
	.container p {
		font-size: 15px;
		margin: 10px 20px 10px 20px; 
	}
	.container h2 {
		font-size: 20px;
	}

	img.profile-picture {
		width: 25%;
		height: 25%;
	}
	img.logo-services, img.logo-contacts {
		width: 15%;
		height: 15%;
		margin-right: 5px; 
	}

	img.img-projects {
		width: 90%;
		height: 90%;
	}


	.column {
		padding: 1.5%;
		text-align: center;
		float: right;
		width: 100%;
	}
	.column h2 {
		font-size: 20px;
	}

	.overlay {
		width: 100%;
		transform: translateY(-175%);
	}
	.text {
		font-size: 20px;
	}
}
/* ---------------- Mobile Screen Size ---------------- */


/* ---------------- Tablet Screen Size ---------------- */
@media screen and (max-width: 500px) {
	.wrapper h1 {
		font-size: 25px;
	}
	p.tagline {
		font-size: 14px;
	}
	img.logo_intro {
		width: 35%;
		height: 35%;
		padding: 20px 0px 20px 5px;
	}
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 100%;
		max-width: 1200px;
	}
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: black;
	}
	.container-projects p {
		font-size: 13px;
	}
}
/* ---------------- Tablet Screen Size ---------------- */
